@model IEnumerable<IMagazineProgramming.Models.Post>
@{
    ViewBag.Title = "Danh Sách Tài Khoản";
    Layout = "~/Views/Share/_LayoutAdmin.cshtml";
}

<h2>Danh sách tài khoản</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCategory.NameSCategory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCategory.NameSCategory)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
