@model IMagazineProgramming.Models.SCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Share/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descibe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descibe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XCategory.NameXCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XCategory.NameXCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
